*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.general{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
}

.cont-logo{
    height: 70px;
}

.logo{
    height: 100%;
}

.enlaces-menu a{
    text-decoration: none;
    margin-left: 30px;
}

.cont-img{
    height: 587px;
    background-image: url(img/fondoheader.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.texto-inicio{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    color: #fff;
}

.fondo-titulo{
    padding: 0 15px;
    background: rgba(0, 0, 0, 0.363);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-size: 60px;
}

.parrafo{
    font-size: 30px;
    margin: 20px 0;
}

.read-more{
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    background: crimson;
    border-radius: 20px;
}

.sect-galeria{
    
    
}

.titulo-galeria{
    padding: 15px 0;
    font-size: 40px;
    text-align: center;
    color: #000;
}

.galeria-imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

.imagen1{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen2{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen3{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen4{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/4.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen5{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/5.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen6{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/6.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen7{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/7.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen8{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/8.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}


.imagen9{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/9.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen10{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/10.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen11{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/11.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen12{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/12.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen13{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/13.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen14{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/14.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen15{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/15.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen16{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/16.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen17{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/17.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen18{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/18.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen19{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/19.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen20{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/20.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen21{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/21.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen22{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/22.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen23{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/23.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen24{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/24.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen25{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/25.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen26{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/26.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen27{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/27.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen28{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/28.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen29{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/29.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen30{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/30.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen31{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/31.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen32{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/32.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen33{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/33.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen34{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/34.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen35{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/35.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen36{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/36.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.imagen37{
    font-size: 20px;
    width: 10em;
    height: 10em;
    margin: 20px 0;
    background-image: url(img/galeria/37.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0  0 6px rgba(39, 148, 199, 0.589);
}

.pant-complet{
    background: rgba(0, 0, 0, 0.589);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.sect-autora{
    margin-top: 20px;
    background: #f2f2f2;
}

.autora{
    padding: 25px 0;
    font-size: 30px;
    text-align: center;
    color: #000;
}


.selfie-vicky{
    display: block;
    height: 150px;
    width: 150px;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover;
}

footer{
    background-image: url(img/fondo-footer.jpg);
    background-position: center;
    background-size: cover;
}

p{
    color: #fff;
}

.redes-sociales{
    padding-top: 30px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.redes-sociales i{
    font-size: 30px;
}

.face{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.face i{
    color: rgb(25, 92, 160);
}

.what i{
    color: darkgreen;
}

.what{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook{
    color: #fff;
}

.whatsapp{
    color: #fff;
}

.contactanos{
    padding: 25px 0;
    font-size: 35px;
    text-align: center;
    color: #fff;
}

.redes-contacto{
    font-size: 10px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width:411px){
    .menu{
        flex-direction: column;
        height: 120px;
        justify-content: space-evenly;
    }

    .titulo{
        font-size: 40px;
    }

    .redes-sociales{

        flex-direction: column;
        
    }

    .facebook{
        font-size:15px
    }
    
    .whatsapp{
        font-size:15px;
        
    }

    .what{
        margin-bottom: 20px;
    }
}

@media screen and (max-width:220px){
    .menu{
        text-align: center;
        flex-direction: column;
        height: 120px;
        justify-content: space-evenly;
    }

    .titulo{
        text-align: center;
        font-size: 40px;
    }

    .pant-complet{
        text-align: center;
    }

    .redes-sociales{

        flex-direction: column;
        
    }

    .facebook{
        font-size:10px
    }
    
    .whatsapp{
        font-size:15px;
        
    }

    .face{
        text-align: center;
    }

    .what{
        margin-bottom: 20px;
    }
}